<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="uni-root" title="Rhein waal" order="-109" if=""
		icon="fa-university" icon-background="#2fa042"/>
	<menuitem name="uni-root-university" parent="uni-root"
		title="Universities" action="uni.root.university" order="1"/>

	<action-view name="uni.root.university" title="Universities"
		model="com.axelor.apps.uni.db.University" >
		<view type="grid" name="university-grid"/>
		<view type="form" name="university-form"/>
	</action-view>
	
	<menuitem name="uni-root-professor" parent="uni-root"
		title="Professors" action="uni.root.professor" order="2"/>

	<action-view name="uni.root.professor" title="Professors"
		model="com.axelor.apps.uni.db.Professor" >
		<view type="grid" name="professor-grid"/>
		<view type="form" name="professor-form"/>
	</action-view>
	
	<menuitem name="uni-root-student" parent="uni-root"
		title="Students" action="uni.root.student" order="2"/>

	<action-view name="uni.root.student" title="Students"
		model="com.axelor.apps.uni.db.Student" >
		<view type="grid" name="student-grid"/>
		<view type="form" name="student-form"/>
	</action-view>
	
	<menuitem name="uni-root-project" parent="uni-root"
		title="Uni Projects" order="20"/>
	
	<menuitem name="uni-root-project-project" parent="uni-root-project"
		title="Projects" action="uni.root.project" order="2"/>

	<action-view name="uni.root.project" title="Projects"
		model="com.axelor.apps.uni.db.UniProject" >
		<view type="grid" name="uni-project-grid"/>
		<view type="form" name="uni-project-form"/>
	</action-view>
	
	
	<menuitem name="uni-root-project-document" parent="uni-root-project"
		title="Project Documents" action="uni.root.project.document" order="3"/>

	<action-view name="uni.root.project.document" title="Project Document"
		model="com.axelor.apps.uni.db.ProjectDocument" >
		<view type="grid" name="project-document-grid"/>
		<view type="form" name="project-document-form"/>
	</action-view>
	<!-- ================================================================================== -->
	
	<menuitem name="isap-process-root" title="ISAP Process" order="-109" if=""
		icon="fa-graduation-cap" icon-background="#2fa042"/>
	
	<menuitem name="outgoing-root" title="Outgoing" order="-108" if="" parent="isap-process-root"
		icon="fa-list-alt" icon-background="#2fa042"/>
		
	<menuitem name="uni-outgoing-definition.publish" parent="outgoing-root"
		title="ISAP Definition" action="uni.outgoing.isap.definition.publish" order="2"/>

	<action-view name="uni.outgoing.isap.definition.publish" title="ISAP Document"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-publish-form"/>
	</action-view>	
		
	<menuitem name="uni-outgoing-root-selection-committee-definition" parent="outgoing-root"
		title="ISAP Selection" action="uni.outgoing.isap.head.definition" order="3"/>

	<action-view name="uni.outgoing.isap.head.definition" title="ISAP Document"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 2</domain>
	</action-view>	
		
	<menuitem name="uni-outgoing-definition-interview" parent="outgoing-root"
		title="ISAP Interview" action="uni.outgoing.isap.definition.interview" order="4"/>

	<action-view name="uni.outgoing.isap.definition.interview" title="ISAP Interview"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 3</domain>
	</action-view>
	
	<menuitem name="uni-outgoing-definition-complete" parent="outgoing-root"
		title="ISAP Complete" action="uni.outgoing.isap.definition.complete" order="5"/>

	<action-view name="uni.outgoing.isap.definition.complete" title="ISAP Complete"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 4 OR self.statusSelect = 5</domain>
	</action-view>
	
	
	<menuitem name="outgoing-student-departure-root" title="Student Departure" order="" if="" parent="isap-process-root"
		icon="fa-plane" icon-background="#2fa042"/>
	
	<menuitem name="outgoing-student-departure-uni" parent="outgoing-student-departure-root"
		title="Student Departure" action="uni.student.departure.leader" order="5"/>

	<action-view name="uni.student.departure.leader" title="Student Departure"
		model="com.axelor.apps.uni.db.StudentDeparture" >
		<view type="grid" name="student-departure-grid"/>
		<view type="form" name="student-departure-leader-form"/>
	</action-view>
	
	<!-- ================================================================================================== -->
	
	
	<menuitem name="outgoing-student-application-root" title="Apply Here" order="-108" if=""
		icon="" icon-background="#2fa042"/>
	
	<menuitem name="uni-outgoing-student-application" parent="outgoing-student-application-root"
		title="Student Application" action="uni.outgoing.student.application" order="5"/>

	<action-view name="uni.outgoing.student.application" title="Student Application"
		model="com.axelor.apps.uni.db.ApplicationLine" >
		<view type="grid" name="application-line-grid"/>
		<view type="form" name="application-line-student-form"/>
		<domain>self.studentUser = :__user__</domain>
	</action-view>
	
	
	<menuitem name="uni-outgoing-student-application-definition" parent="outgoing-student-application-root"
		title="ISAP Definitions" action="uni.outgoing.isap.student.show.definition" order="3"/>

	<action-view name="uni.outgoing.isap.student.show.definition" title="ISAP Definition"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-student-grid"/>
		<view type="form" name="definition-student-form"/>
		<domain>self.statusSelect = 2</domain>
	</action-view>
	
	<!-- ================================================================================================== -->
	
	<menuitem name="outgoing-selection-committee-root" title="Selection Committee" order="-108" if="" hidden="true"
		icon="" icon-background="#2fa042"/>
		
	<menuitem name="uni-outgoing-selection-committee-definition" parent="outgoing-selection-committee-root"
		title="ISAP Selection" action="uni.outgoing.isap.definition" order="3"/>

	<action-view name="uni.outgoing.isap.definition" title="ISAP Document"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 2</domain>
	</action-view>
	
	<menuitem name="uni-outgoing-selection-committee-definition-interview" parent="outgoing-selection-committee-root"
		title="ISAP Interview" action="uni.outgoing.isap.definition.interview" order="4"/>

	<action-view name="uni.outgoing.isap.definition.interview" title="ISAP Interview"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 3</domain>
	</action-view>
	
	<menuitem name="uni-outgoing-definition-selection-committee-complete" parent="outgoing-selection-committee-root"
		title="ISAP Complete" action="uni.outgoing.isap.definition.complete" order="5"/>

	<action-view name="uni.outgoing.isap.definition.complete" title="ISAP Complete"
		model="com.axelor.apps.uni.db.Definition" >
		<view type="grid" name="definition-grid"/>
		<view type="form" name="definition-form"/>
		<domain>self.statusSelect = 4 OR self.statusSelect = 5</domain>
	</action-view>
	
	
	<!-- ================================================================================================== -->
	
	<menuitem name="student-departure-root" title="Student" order="-108" if=""
		icon="fa-plane" icon-background="#2fa09e"/>
		
	<menuitem name="student-departure" parent="student-departure-root"
		title="Student Departure" action="uni.student.departure" order="3"/>

	<action-view name="uni.student.departure" title="Student Departure"
		model="com.axelor.apps.uni.db.StudentDeparture" >
		<view type="grid" name="student-departure-grid"/>
		<view type="form" name="student-departure-form"/>
		<domain>self.userStudent = :__user__</domain>
	</action-view>
	
	<menuitem name="student-abroad-arrive" parent="student-departure-root"
	title="Student Abroad Arrival" action="uni.student.abroad.arrive" order="4"/>

	<action-view name="uni.student.abroad.arrive" title="Student Abroad Arrival"
		model="com.axelor.apps.uni.db.StudentAbroadArrival" >
		<view type="grid" name="student-abroad-arrival-grid"/>
		<view type="form" name="student-abroad-arrival-form"/>
		<domain>self.userStudent = :__user__</domain>
	</action-view>
	
	<menuitem name="student-return" parent="student-departure-root"
		title="Student Return" action="uni.student.return" order="6"/>

	<action-view name="uni.student.return" title="Student Return"
		model="com.axelor.apps.uni.db.StudentReturn" >
		<view type="grid" name="student-return-grid"/>
		<view type="form" name="student-return-form"/>
		<domain>self.userStudent = :__user__</domain>
	</action-view>
	
	
</object-views>
